<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Perro</title>
</head>
<body>
    <h1>Detalles del Perro</h1>
    <div>
        <h2>{{ perro.Nombre }}</h2>
        <p><strong>Raza:</strong> {{ perro.Raza }}</p>
        <p><strong>Edad:</strong> {{ perro.Edad }}</p>
        <p><strong>Peso:</strong> {{ perro.Peso }}</p>
        <p><strong>Cuidador:</strong> {{ perro.cuidador.nombre }}</p>
    </div>
</body>
</html>
